---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostPreview from "../../components/PostPreview.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    const tags = posts
        .flatMap((post) => post.data.tags || [])
        .filter((tag, index, self) => self.indexOf(tag) === index)
        .sort();
    return tags.map((tag) => ({
        params: { slug: tag },
    }));
}

const posts = (
    await getCollection("blog", ({ data }) => {
        return data.tags && data.tags.includes(Astro.params.slug);
    })
).sort((a, b) => {
    return b.data.pubDate.getTime() - a.data.pubDate.getTime();
});
---

<Layout
    title="Blog"
    description="List of blog posts documenting my journey through programming languages and compiler design."
>
    <h2 class="text-2xl font-bold mb-6">Tag:{Astro.params.slug}</h2>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <PostPreview post={post} />
                </li>
            ))
        }
    </ul>
</Layout>
