---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import TagPill from "../../components/TagPill.astro";

const tags = (await getCollection("blog"))
    .flatMap((post) => post.data.tags || [])
    .filter((tag, index, self) => self.indexOf(tag) === index)
    .sort();
---

<Layout>
    <h2 class="text-2xl font-bold mb-6">Tags{Astro.params.slug}</h2>
    <div class="flex flex-wrap gap-2 mb-1">
        {
            tags.map((tag) => (
                <div class="text-lg font-semibold m-2">
                    <TagPill href={`/tags/${tag}/`} title={tag} />
                </div>
            ))
        }
    </div>
</Layout>
