---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Page Not Found">
    <section class="text-center p-8">
        <h1 class="text-4xl font-bold mb-4">404 - Page Not Found</h1>
        <p class="text-lg text-gray-600 mb-6">
            Oops! The page you are looking for does not exist.
        </p>
        <div class="text-purple-600 hover:text-purple-800">
            <a href="/"> Go back to the homepage </a>
        </div>
    </section>
</Layout>
