---
interface Props {
    href: string;
    title: string;
}
---

<a href={Astro.props.href} title={Astro.props.title}>
    <div
        class="bg-fuchsia-200 text-purple-500 px-3 py-1 rounded-full border
            border-fushcia-300 hover:bg-fuchsia-100 hover:text-purple-600 transition-colors
            dark:bg-fuchsia-800 dark:text-purple-200 dark:border-fuchsia-700 dark:hover:bg-fuchsia-900 dark:hover:text-purple-300"
    >
        {Astro.props.title}
    </div>
</a>
